<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('logo.png') }}" alt="InnovShop" style="height: 40px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_catalog') }}">Catalogue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_cart') }}">Panier</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_order') }}">Passer une commande</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_client') }}">Espace client</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_produit') }}">Gestion des produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_orders') }}">Gestion des commandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_clients') }}">Gestion des clients</a>
                    </li>
                {% endif %}
            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
